<header>
  <mat-toolbar color="primary">
    <span class="ss-spacer"></span>
    <mat-icon >apps</mat-icon>
    <button mat-button [matMenuTriggerFor]="usermenu">
      <mat-icon class="ss-user">account_circle</mat-icon> Antony <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #usermenu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item>Logout</button>
    </mat-menu>
  </mat-toolbar>
</header>
<div class="wrapper">
  <mat-toolbar>
    <h4>New Business - Boat Info</h4>
    <mat-select >
        <mat-option>None</mat-option>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2">Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
      <mat-select >
          <mat-option>None</mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
        <mat-select >
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
          <mat-select >
              <mat-option>None</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
    <span class="ss-spacer"></span>
    <button mat-raised-button color="warn">PreBind<mat-icon>chevron_right</mat-icon></button>
  </mat-toolbar>
  <mat-toolbar></mat-toolbar>
  <mat-toolbar></mat-toolbar>
</div>
<footer>
  <mat-toolbar>
    <button mat-raised-button color="warn"><mat-icon>chevron_left</mat-icon>Policy holder</button>
    <span class="ss-spacer"></span>
    <button mat-raised-button color="warn">PreBind<mat-icon>chevron_right</mat-icon></button>
  </mat-toolbar>
</footer>